# new VPC env
Host 192.168.* *.cartalk.com
  User ec2-user
  ProxyCommand ssh -F ssh.config -q cartalk-bastion.nirdhost.com nc %h %p
  ForwardAgent yes
  ServerAliveInterval 60
  TCPKeepAlive yes
  ControlMaster auto
  ControlPath ~/.ssh/mux-%r@%h:%p
  ControlPersist 8h
  StrictHostKeyChecking no

Host cartalk-bastion.nirdhost.com
  User barbershop
  HostName cartalk-bastion.nirdhost.com
  ForwardAgent yes
  PasswordAuthentication no
